@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  width: config.$content-width;
  margin: auto;
  width: 330px;
  font-weight: 300;
}

.header {
  margin-bottom: 20px;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    padding: 0px 12px;
  }

  .title {
    font-weight: bold;
    font-size: config.$big-font;
  }
}
