@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 12px;
  margin: 12px auto;
  direction: rtl;
  font-weight: 300;
  width: config.$content-width;
  margin-top: 70px;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 12px;
  }

  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    width: 100%;
    padding: 0px 12px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  text-align: right;
  background: config.$white;
  box-shadow: config.$card-shadow;
  @include mixins.border-radius();

  &:hover {
    position: relative;
    bottom: 5px;
  }

  .tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 12px;
    text-align: center;
    margin: 20px 0px;

    p {
      padding: 8px;
      background: config.$white;
      box-shadow: config.$card-shadow;
      color: config.$gold3;
      @include mixins.border-radius();
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .name {
      font-weight: bold;
      font-size: config.$med-font;
      margin-right: 12px;
    }

    .image {
      border-radius: 50%;
    }
  }

  .button {
    width: 100%;
    @include mixins.row-space-between-center();

    button {
      @include mixins.button(config.$gold1, config.$gold3, config.$black);
      width: 150px;
    }
  }
}
