@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: config.$content-width;
  margin: 12px auto;
  width: 400px;

  @include mixins.mobile {
    width: 100%;
    padding: 0px 12px;
  }

  .timeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 12px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }

  .time {
    padding: 8px;
    background: config.$white;
    box-shadow: config.$card-shadow;
    color: config.$gold3;
    @include mixins.border-radius();

    &:hover {
      background: config.$black;
      color: config.$gold3;
      cursor: pointer;
    }
  }

  .button {
    @include mixins.button(config.$gold1, config.$gold3, config.$white);
    margin-top: 20px;
  }

  .alert,
  .message {
    color: config.$red;
    margin-top: 20px;
  }

  .message {
    color: config.$black;
    font-weight: bold;
  }
}
