@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  direction: rtl;

  @include mixins.desktop {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    border-radius: 50px;
    background: config.$white;
    box-shadow: config.$card-shadow;
    border: 1px solid config.$gold3;
    font-weight: 300;

    &:hover {
      cursor: pointer;
      background: config.$black;
      color: config.$gold3;
    }

    @include mixins.desktop {
      height: 45px;
    }
  }
}
