@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.footer {
  width: 100%;
  height: 250px;
  margin-top: 60px;
  background: config.$gold1;
  padding: 12px;
  border-top-left-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .buttons {
    display: flex;
    flex-direction: column;

    button {
      @include mixins.button(config.$black, config.$black, config.$gold3);
      margin: 12px 0px;

      &:hover {
        cursor: pointer;
        background: config.$white;
        color: config.$black;
      }
    }
  }
}
