@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  width: config.$content-width;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    width: 100%;
  }

  @include mixins.desktop {
    padding: 12px;
  }

  .link {
    color: config.$black;
  }
}

.largeMenu {
  width: 100%;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    display: none;
  }

  .largeNavigation {
    width: 60%;
    @include mixins.row-space-between-center();
  }
}

.nav {
  border-bottom: 1px solid config.$white;

  &:hover {
    cursor: pointer;
    border-bottom: 1px solid config.$gold3;
    color: config.$gold3;
  }

  @include mixins.mobile {
    border-bottom: 1px solid config.$gold1;

    &:hover {
      border-bottom: 1px solid config.$white;
    }
  }
}

.navActive {
  border-bottom: 1px solid config.$gold3;
  color: config.$gold3;
  font-weight: bold !important;

  @include mixins.mobile {
    border-bottom: 1px solid config.$white;
  }
}

.smallMenu {
  width: 100%;

  @include mixins.desktop {
    display: none;
  }

  .menuIcon {
    background: config.$gold1;

    &:hover {
      cursor: pointer;
    }
  }

  .topBar {
    width: 100%;
    padding: 12px;
    padding-bottom: 0px;
    @include mixins.row-space-between-center();
  }

  .menuMobile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    width: 100%;
    padding: 12px;
    background: config.$gold1;
    box-shadow: config.$card-shadow;

    p {
      padding: 4px 0px;
      color: config.$black;
    }

    @include mixins.desktop {
      display: none;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      button {
        @include mixins.button(config.$black, config.$black, config.$gold3);
        width: 180px;
        margin: 8px 0px;
      }
    }
  }
}
