@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  width: config.$content-width;
  padding: 12px;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    width: 100%;
  }

  .link {
    color: config.$black;
  }
}

.menuIcon {
  background: config.$lemon;

  &:hover {
    cursor: pointer;
  }
}

.largeMenu {
  width: 100%;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    display: none;
  }
}

.smallMenu {
  width: 100%;
  @include mixins.row-space-between-center();

  @include mixins.desktop {
    display: none;
  }
}
