@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-weight: 300;

  .title {
    text-align: center;
    font-size: config.$big-font;
    margin-bottom: 12px;
  }
}

.formAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0px;

  button {
    @include mixins.button(config.$gold1, config.$gold3, config.$white);
  }
}

.input {
  margin: 12px 0;

  .bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .label {
    color: config.$grey;
    font-size: config.$small-font;
    margin-bottom: 5px;

    span {
      color: config.$grey;
      font-size: config.$tiny-font;
    }
  }

  input {
    @include mixins.input();
    width: 100%;
  }

  p {
    display: flex;
    flex-direction: row-reverse;
  }
}

.activationContainer {
  display: flex;
  justify-content: center;
  margin: 12px 0px;

  button {
    @include mixins.button(config.$gold1, config.$gold3, config.$white);
  }

  .activationCode {
    display: flex;
    flex-direction: row-reverse;

    p {
      margin: 0px 5px;
      height: 35px;
    }
  }
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  color: config.$gold3;
  height: 12px;
}
