@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  width: config.$content-width;
  margin: 12px auto;
  text-align: center;
  font-weight: 300;
  text-align: right;

  @include mixins.mobile {
    width: 100%;
    padding: 0px 12px;
  }

  @include mixins.tablet {
    width: 100%;
    padding: 0px 12px;
  }
}

.information {
  margin: 40px auto;
  background: config.$white;
  box-shadow: config.$card-shadow;
  @include mixins.border-radius();
  padding: 50px 100px;

  @include mixins.mobile {
    padding: 12px;
  }

  .row {
    display: flex;
    flex-direction: row-reverse;
    margin: 8px 0px;

    .icon {
      position: relative;
      top: 8px;
      margin-left: 8px;
    }
  }

  h2 {
    margin-bottom: 12px;
    font-weight: bold;
  }

  .title {
    font-weight: bold;
    font-size: config.$med-font;
    margin: 8px 0px;
  }

  .items {
    margin: 12px 0px;
  }
}
