@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  position: relative;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 300px;
  width: 100%;

  .image {
    position: relative !important;
    object-position: 50% 30%;
  }

  @include mixins.desktop {
    height: 400px;
  }

  .header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: config.$content-width;
    text-align: center;

    button {
      @include mixins.button(config.$gold1, config.$gold3, config.$white);
      width: 180px;
      margin: 8px;
    }

    h1 {
      color: config.$white;
      font-size: config.$large-font;
      margin-bottom: 12px;

      @include mixins.mobile {
        font-size: config.$exbig-font;
      }
    }
  }

  .highlightContainer {
    position: relative;
    bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    width: config.$content-width;
    margin: auto;
    gap: 20px;

    @include mixins.mobile {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      bottom: 0px;
      margin: 20px 0px;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      background: config.$white;
      box-shadow: config.$card-shadow;
      @include mixins.border-radius();
    }

    .highlightOne {
      border-top: 6px solid config.$gold1;
    }
    .highlightTwo {
      border-top: 6px solid config.$gold2;
    }
    .highlightThree {
      border-top: 6px solid config.$gold3;
    }
  }
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: config.$content-width;
  padding: 12px;

  h1 {
    margin-bottom: 12px;
  }

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    width: 100%;

    .intro {
      width: 100%;
    }
  }
}
