@use "config" as config;
@use "mixins" as mixins;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: config.$font;
}

body {
  user-select: none;
  font-weight: 300;
  background: config.$cream;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  @include mixins.button(config.$brand, config.$black, 120px);
}
